body {
    background: #63E0A4;
    font-family: Helvetica, Arial, sans-serif;
}

div#header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2BA68D;
    text-align: center;
    width: 100vw;
    border-top: 2px dotted;
    border-bottom: 2px dotted;
    font-size: 1.5vw;  
}

nav a {
    color:#414141;
    padding-left: 75px;
    padding-right: 75px;
    border-radius: 25px;
    background-color: rgb(216, 191, 216, .50);
    
}

.title {
    margin-bottom: 150px;
}

#profile {
    position: left;
    float:left;
    width:200px;
    border-radius: 50px;
    margin-left: 100px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

#name {
    text-align: right;
    position: right;
    margin-top: 100px;
    margin-right:100px;

}

h3 {
    text-align:center;
}

    