body {
    background: #e3e2cb;
    font-family: Helvetica, Arial, sans-serif;
}

div#header {
    margin-top: 0px;
    background-color: #c1f4cf;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    width: 100vw;
    border-top: 2px dotted;
    border-bottom: 2px dotted;
    font-size: 24px;  
}

nav a {
    padding-left: 75px;
    padding-right: 75px;
    border-radius: 25px;
    background-color: rgb(216, 191, 216, .50);
    
}

h1 {
    text-align: center;
}

    